@mixin neumorphic-out {
    box-shadow: -4px -4px 4px 0px #ffffff, 4px 4px 4px 0px #d1d9e6;
    animation: shadowFadeIn .1s;
}

@mixin neumorphic-in {
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    animation: shadowFadeOut .1s;
}

@keyframes shadowFadeIn {
    0% {
        box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: -4px -4px 4px 0px #ffffff, 4px 4px 4px 0px #d1d9e6;
    }
}

@keyframes shadowFadeOut {
    0% {
        box-shadow: -4px -4px 4px 0px #ffffff, 4px 4px 4px 0px #d1d9e6;
    }
    50% {
        box-shadow: none;
    }
    100% {
        box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    }
}