$black: black;
$bg-color: #f2f2f2;
$textColor: #868686;

$default-sidebar-width: 100px;

$border-radius: 16px;
$border-radius-small: 8px;

$main-padding: 16px;
$main-padding-small: 8px;

//Page sizes
$xs-min: 320px;
$xs-mid: 375px;
$xs: 480px;
$sm: 768px;
$tablet-horizontal: 1024px;
$md: 1280px;
$lg: 1366px;
$xlg: 1600px;
$xlg-max: 1920px;